---
import GlowBackground from "../components/ui/GlowBackground.astro";
import Navbar from "../components/ui/Navbar.astro";
import Footer from "../components/ui/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>David Victoria</title>
  </head>
  <body>
    <GlowBackground />
    <Navbar />
    <div class="max-w-7xl mx-auto px-8 flex-1 w-full">
      <slot />
    </div>
    <Footer />
  </body>
</html>
